<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remove an Employee</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <h1>Remove an Employee</h1>
    <hr>
    {% csrf_token %}
    <table class="table table-dark table-striped-columns">
      <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Bonus</th>
          <th>Role</th>
          <th>Phone</th>
          <th>Hire Date</th>
          <th>Modification</th>
      </tr>
      {% for i in obj %}
          <tr>
              <td>{{i.id}}</td>
              <td>{{i.first_name}}</td>
              <td>{{i.last_name}}</td>
              <td>{{i.dep}}</td>
              <td>{{i.salary}}</td>
              <td>{{i.bonus}}</td>
              <td>{{i.role}}</td>
              <td>{{i.phone}}</td>
              <td>{{i.hire_date}}</td>
              <td><button class="btn btn-danger"><a href="{% url 'delete' i.id %}">Remove</a></button></td>
          </tr>
      {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'home' %}" role="button">Back</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>